.stateInput{
  text-align: left;
  display: inline-block;
  width : 90%;
  border:5px;
}

#simple-select-label{
  font-size: 1.15em;
}

.dropDownAndSelect{
  width:33%;
}

.dropDown{
  display:inline-block;
  margin-left:2.5%;
  margin-right: 2.5%;

}
.lastTwoWeeks{
  margin-top: 15px;
  padding-right: 30px;

}